.background{
    width: 100%;
    background-color: #e8edf2;
    padding: 20px;
}

.post{
    background-color: #FFF;
    padding: 20px;
    display: flex;
}

.post_banner{
    width: 60%;
    background-image: linear-gradient(#e1fbed, white);
    background-color: #fff;
}

.banner_img{
    width: 100%;
    padding: 30px 20px;
}

.banner_img img{
    object-fit: cover;
}

.banner_info{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #086a2f;
    line-height: 22px;
    font-family: "Inter",sans-serif;
    font-weight: 400;
}

.banner_button{
    margin-top: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.button{
    border: 1px solid #00b14f;
    border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    color: #00b14f;
}

.post_info{
    width: 40%;
    padding-left:20px;
}

.info_main{
    font-size: 20px;
    font-weight: 700;
    margin-top: 1.6188rem!important;
}

.item_label{
    color: #5e6368;
    margin-bottom: 0.285rem!important;
}

.item_input{
    width: 100%;

}

.item_input input{
    width: 100%;
    padding: 10px;
}

.item_input input:focus{
    outline: 1px #00b14f;
    
}

.form_button{
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 500!important;
    margin-top: 25px;
    width: 100%!important;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.214rem;
    color: #fff;
    background-color: #00b14f;
    border-color: #00b14f;
    display:flex;
    align-items:center;
    justify-content:center;
}

.item_error{
    color: #dc3545;
    font-weight:400;
}

.info_ref{
    margin-top: 150px;
}

.ref_head{
    font-weight: 700;
}

.ref_description{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color:#5e6368;
}

.ref_links{
    margin-top: 20px;
}

.link_item{
    margin-bottom: 20px;
    color: #00b14f;
    text-decoration: underline;
}

.link_item:hover{
    cursor: pointer;
    color:#343a40;
}